<div id="<%= dom_id user %>">
  <p>
    <strong>Title:</strong>
    <%= user.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= user.body %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= user.published %>
  </p>

</div>
