<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= product.body %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= product.published %>
  </p>

</div>
